#!/usr/bin/env bash
# coding=utf-8

{% include 'header.j2' %}

set -mveuo pipefail

# make sure this script runs at the repo root
cd "$(dirname "$(realpath -e "$0")")"/../../..

export TEST=$1
source .ci/compose/scripts/utils.sh

# This sets the project name for the compose command
export COMPOSE_PROJECT_NAME=$(project_name)

REPORTED_STATUS="$(cli_cmd pulp status)"

echo "${REPORTED_STATUS}"

# check for any uncommitted migrations
echo "Checking for uncommitted migrations..."
{%- for plugin in plugins %}
cmd_user_prefix bash -c "django-admin makemigrations {{ plugin.app_label }} --check --dry-run"
{%- endfor %}

# Run unit tests.
{% for plugin in plugins %}
cmd_user_prefix bash -c "PULP_DATABASES__default__USER=postgres pytest -v -r sx --color=yes --suppress-no-test-exit-code -p no:{{ plugin.name | snake }} --durations=20 --pyargs {{ plugin.name | snake }}.tests.unit"
{%- endfor %}
# Run functional tests
if [[ "$TEST" == "performance" ]]; then
  if [[ -z ${PERFORMANCE_TEST+x} ]]; then
    {% for plugin in plugins %}
    cmd_user_prefix bash -c "pytest -vv -r sx --color=yes --suppress-no-test-exit-code --capture=no --durations=0 --pyargs {{ plugin.name | snake }}.tests.performance"
    {%- endfor %}
  else
    {% for plugin in plugins %}
    cmd_user_prefix bash -c "pytest -vv -r sx --color=yes --suppress-no-test-exit-code --capture=no --durations=0 --pyargs {{ plugin.name | snake }}.tests.performance.test_${PERFORMANCE_TEST}"
    {%- endfor %}
  fi
  exit
fi

if [ -f "${FUNC_TEST_SCRIPT:-}" ]; then
  source "$FUNC_TEST_SCRIPT"
else
  if [[ "${GITHUB_WORKFLOW:-}" =~ "Nightly" ]]
  then
    {% for plugin in plugins %}
    cmd_user_prefix bash -c "pytest -v --timeout=300 -r sx --color=yes --suppress-no-test-exit-code --durations=20 --pyargs {{ plugin.name | snake }}.tests.functional -m parallel -n 8 --nightly"
    cmd_user_prefix bash -c "pytest -v --timeout=300 -r sx --color=yes --suppress-no-test-exit-code --durations=20 --pyargs {{ plugin.name | snake }}.tests.functional -m 'not parallel' --nightly"
    {%- endfor %}
  else
    {% for plugin in plugins %}
    cmd_user_prefix bash -c "pytest -v --timeout=300 -r sx --color=yes --suppress-no-test-exit-code --durations=20 --pyargs {{ plugin.name | snake }}.tests.functional -m parallel -n 8"
    cmd_user_prefix bash -c "pytest -v --timeout=300 -r sx --color=yes --suppress-no-test-exit-code --durations=20 --pyargs {{ plugin.name | snake }}.tests.functional -m 'not parallel'"
    {%- endfor %}
  fi
fi

{%- if test_cli %}
# TEST pulp-cli
{% for plugin in plugins %}
cli_cmd pytest -v -m "{{ plugin.app_label | snake }}{%- if not loop.last %} or {%- endif %}"
{%- endfor %}
{%- endif %}